body
{
    font-family: 'PT Sans', Arial;
    font-size: 12pt;
}

table
{
    border: 1px solid gray;
    border-collapse: collapse;
}

td
{
    border: 1px solid gray;
    background-color: #737373;
}
